{% extends 'base.html' %}
{% block content %}
<h2>Создать пользователя</h2>
<form method="POST">
    <div class="mb-3">
        <label>Имя:</label>
        <input class="form-control" name="name" required>
    </div>
    <div class="mb-3">
        <label>Пароль:</label>
        <input type="password" class="form-control" name="password" required>
    </div>
    <div class="mb-3">
        <label>Тип учетной записи:</label>
        <select class="form-select" name="type_account">
            {% for type in types %}
            <option value="{{ type[0] }}">{{ type[1] }}</option>
            {% endfor %}
        </select>
    </div>
    <button class="btn btn-success">Создать</button>
    <a href="{{ url_for('admin.dashboard') }}" class="btn btn-secondary">Отмена</a>
</form>
{% endblock %}
